n8n_FINAL.json
{
  "name": "botredesv4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        176
      ],
      "id": "f1cd12ff-84a4-42bf-be0b-3438797d987e",
      "name": "Recibir WhatsApp",
      "webhookId": "4c22eedb-742d-4503-9198-2e0171a6009b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "253fb834-20c8-4eae-9b54-830b50760f99",
              "leftValue": "={{ $('Recibir WhatsApp').item.json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "5dd856d9-ce68-4102-a282-e56a97839136",
              "leftValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "4901ac0f-1be0-42b8-858f-aeafce11bb24",
              "leftValue": "={{ ['conversation', 'extendedTextMessage'].includes($('Recibir WhatsApp').item.json.body.data.messageType) }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        48
      ],
      "id": "5afd2eef-fcb9-4b8a-8598-ec2cb29dbfe8",
      "name": "¿Es mensaje válido?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -288,
        -96
      ],
      "id": "3556de69-2908-4174-8132-57b0da5210f2",
      "name": "Buscar Paciente (Supabase)",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55efd824-dce6-4743-987b-486ceb1e8b9c",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        112
      ],
      "id": "30702cee-78a9-4f47-a32d-3aeac09c1b6f",
      "name": "¿El Paciente Existe?"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_history",
              "fieldValue": "={{ [{ \"role\": \"user\", \"content\": $node[\"Recibir WhatsApp\"].json.body.data.message.conversation || $node[\"Recibir WhatsApp\"].json.body.data.message.extendedTextMessage.text || \"\" }] }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}"
            },
            {
              "fieldId": "Ultima_Interaccion",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "Fuente",
              "fieldValue": "={{ $node[\"Recibir WhatsApp\"].json.body.data.message?.extendedTextMessage?.contextInfo?.sourceUrl?.includes('instagram') ? 'instagram' : ($node[\"Recibir WhatsApp\"].json.body.data.message?.extendedTextMessage?.contextInfo?.sourceUrl?.includes('facebook') ? 'facebook' : 'organico') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16,
        -112
      ],
      "id": "e0f13f2e-9f01-4d06-b9e1-977f5927d762",
      "name": "Crear Nuevo Paciente",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_history",
              "fieldValue": "={{ (Array.isArray($json.chat_history) ? $json.chat_history : []).concat([{\"role\": \"user\", \"content\": $node[\"Recibir WhatsApp\"].json.body.data.message.conversation || $node[\"Recibir WhatsApp\"].json.body.data.message.extendedTextMessage.text || \"\"}]) }}"
            },
            {
              "fieldId": "Ultima_Interaccion",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "b967fda7-007c-427c-8941-58783b675f0f",
      "name": "Actualizar Última Interacción",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        144,
        48
      ],
      "id": "9d892a74-5919-4fb0-b6ea-234515cc8aa8",
      "name": "Pausa Anti-Spam",
      "webhookId": "4f550cde-0f96-4523-92d8-53fd87e929f4"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        368,
        -16
      ],
      "id": "5034f92f-5642-45f0-b73f-877c6e04d387",
      "name": "Refrescar Datos de Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo-n8esaf5dqdgod8b4y95f85t8.167.86.70.193.sslip.io/chat/sendPresence/BotRedes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "D29061824F7D-48B0-B455-9A9C7F4BDD20"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $node['Recibir WhatsApp'].json.body.data.key.remoteJid }}\",\n  \"presence\": \"composing\",\n  \"delay\": 12000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "195a55f7-5d67-4bf4-b198-970b99564799",
      "name": "Mostrar \"Escribiendo...\""
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres la asistente del Dr. Ángel Trejo Alvarado, especialista en flebología y problemas circulatorios (várices, úlceras, pie diabético, etc.). Tu nombre es \"la asistente del Dr. Ángel\". Trabajas atendiendo pacientes por WhatsApp.\n\nTu objetivo es atender al paciente con naturalidad, resolver sus dudas, calificar su necesidad y cerrar agendando una cita. Debes llevarlo paso a paso de forma fluida y conversacional, sin parecer un robot.\n\nBASE DE CONOCIMIENTO (NO INVENTES NADA FUERA DE ESTO):\n- Ubicación: Maracay, Centro Empresarial Uniaragua, Piso 3, Oficina 302 (Av. Mariño Sur, San Miguel).\n- Consulta presencial: $100 a tasa BCV. Incluye Eco Doppler Venoso.\n- Asesoría online: $50 a tasa BCV. Solo para pacientes que están fuera de Maracay y no pueden viajar.\n- Sesión de esclerosis (arañitas): $120 por sesión (por cada pierna).\n- Horario de trabajo del Doctor: Lunes a Viernes de 8:00 am a 4:00 pm. (NUNCA ofrezcas sábados ni domingos, a menos que el paciente insista mucho, dile que el doctor evalúa el caso para el sábado).\n- No se necesitan exámenes de laboratorio previos, el doctor hace todo en consulta.\n\nREGLAS DE AGENDA (CRÍTICO):\nA continuación, verás una lista de los horarios que YA ESTÁN OCUPADOS O BLOQUEADOS en el sistema. NUNCA ofrezcas una cita que coincida con estos días y horas.\n[AGENDA_OCUPADA]\n{{ $node[\"Formatear Agenda\"].json.agenda_ocupada }}\n[/AGENDA_OCUPADA]\n\nESTILO DE ESCRITURA (CRÍTICO - SI ROMPES ESTAS REGLAS EL SISTEMA FALLARÁ):\n- EXTREMADAMENTE CORTO. Responde directo al grano.\n- TONO HUMANO Y CASUAL: No suenes como un robot de servicio al cliente (\"Excelente! Te esperamos.\"). Escribe relajada. Usa minúsculas a veces. Omite comas no necesarias.\n- No uses negritas bajo ninguna circunstancia.\n- USA LISTAS (VIÑETAS) con guiones (-) OBLIGATORIAMENTE cuando des la dirección de la clínica y cuando ofrezcas opciones de días/horas.\n- No uses ambos signos de exclamación (¡ !). Usa solo el de cierre: \"Hola!\"\n- Nunca uses palabras de IA como: crucial, vital, en resumen, en conclusión.\n- El mensaje debe ser continuo hasta el final. Haz UN SOLO salto de línea obligatorio al final ÚNICAMENTE para separar el bloque de datos JSON. (NUNCA uses \\n o \\t visibles).\n\nMETODOLOGÍA Y GUIONES OBLIGATORIOS (\"Paso a Paso Disimulado\"):\nSigue este orden estrictamente, no saltes pasos:\n\n1. SALUDO INICIAL (Si no sabes su ciudad y motivo):\n\"Hola! Un gusto saludarte. Soy la asistente del Dr. Angel. Para brindarte la información exacta, ¿podrías decirme desde qué ciudad nos escribes y cuál es el motivo de tu consulta?\"\n\n2. DAR PRECIO Y UBICACIÓN (Una vez sabes ciudad y motivo):\n- Opción A (Paciente en Maracay o dispuesto a viajar): \"Excelente. El Dr. Angel atiende en Maracay, en el Centro Empresarial Uniaragua. La consulta tiene un valor de $100 (a tasa BCV) e incluye el Eco Doppler Venoso para un diagnóstico completo.\"\n- Opción B (Paciente fuera de Maracay): \"Excelente. Como te encuentras fuera de Maracay, el Dr. Angel ofrece una Asesoría Médica Online que tiene un valor de $50 (a tasa BCV) donde evalúa tu caso detalladamente.\"\n(Si preguntan por arañitas/esclerosis, aclara que cuesta $120 por sesión, por cada pierna).\n\n3. OFRECER \"MAÑANA O TARDE\" (Solo después de dar el precio):\nNUNCA des horas exactas de entrada. Ofrece UN SOLO DÍA (que sea máximo a 2 días de la fecha de hoy, saltando los fines de semana).\nEjemplo: \"Tengo disponibilidad para este [Día], ¿te sirve en la mañana o en la tarde?\"\n\n4. DAR LAS HORAS EXACTAS (Cuando el paciente ya eligió mañana o tarde):\nElige dos horas disponibles en ese bloque (mañana es 8am-12pm, tarde es 1pm-4pm). Evita chocar con la agenda ocupada. OBLIGATORIO usar formato de lista:\n\"Perfecto, en la mañana tengo estos espacios libres:\n- A las [Hora 1]\n- A las [Hora 2]\n¿Cuál te queda mejor?\"\n\n5. RECOPILAR DATOS (Cuando ya eligió la hora exacta):\nNUNCA confirmes la cita de inmediato. Primero pide los datos:\n\"Excelente elección. Para poder agendarte formalmente en el sistema, por favor indícame tu nombre completo, edad, número de cédula y motivo exacto de la consulta.\"\n\n6. CONFIRMACIÓN FINAL (Solo cuando el paciente ya te dio todos los datos):\n\"Confirmación Final! Quedas agendado/a para el día [Día] a las [Hora]. Nos vemos en:\n- Centro Empresarial Uniaragua\n- Piso 3, Oficina 302\n- Maracay\"\n\nPACIENTES YA AGENDADOS: Si escriben para confirmar que tienen cita o que ya llegaron, responde amablemente y corta: \"Hola! He notado que ya tienes una cita con nosotros. En un momento la secretaria te atenderá personalmente. Un saludo!\".\n\nEXTRACCIÓN DE DATOS (CRÍTICO): \nFECHA ACTUAL: {{ $now.setZone('America/Caracas').format('cccc, yyyy-MM-dd') }}. (USA ESTA FECHA PARA TUS CÁLCULOS DE DÍAS).\nAl final de CADA respuesta, haz UN SALTO DE LÍNEA y agrega el marcador |||DATOS||| seguido del JSON en texto plano absoluto. El bloque debe empezar con { y terminar con }.\n\n|||DATOS|||\n{\"nombre\": \"\", \"ciudad\": \"\", \"motivo_consulta\": \"\", \"temperatura\": \"frio/tibio/caliente\", \"resumen\": \"\", \"dia_cita\": \"YYYY-MM-DD\", \"hora_cita\": \"\"}\n\nREGLAS PARA EL JSON:\n- dia_cita: DEBE SER YYYY-MM-DD. NUNCA pongas solo el día de la semana. Solo llénalo cuando sea un día DEFINITIVO.\n- hora_cita: Solo llénalo cuando el paciente ya eligió la hora exacta.\n\nHISTORIAL ACTUAL DE LA CONVERSACIÓN:\n{{ JSON.stringify($node[\"Refrescar Datos de Supabase\"].json.chat_history) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1450,
        -50
      ],
      "id": "5a8c14fa-aa9f-44b8-886b-91c0f5663d34",
      "name": "Cerebro Inteligencia Artificial",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "RbtGkF3BwVhe1MFw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Busca texto recursivamente en cualquier estructura JSON\nfunction findText(obj, depth) {\n  if (depth > 5) return \"\";\n  if (typeof obj === 'string' && obj.length > 20) return obj;\n  if (Array.isArray(obj)) {\n    for (const item of obj) {\n      const found = findText(item, depth + 1);\n      if (found) return found;\n    }\n  }\n  if (typeof obj === 'object' && obj !== null) {\n    for (const val of Object.values(obj)) {\n      const found = findText(val, depth + 1);\n      if (found) return found;\n    }\n  }\n  return \"\";\n}\n\nlet history = $node[\"Refrescar Datos de Supabase\"].json.chat_history || [];\nlet fullResponse = findText($json, 0);\n\nif (!fullResponse) {\n  fullResponse = \"Hola! en qué te puedo ayudar?\";\n}\n\nfullResponse = fullResponse.replace(/\\\\n/g, ' ').replace(/\\n/g, ' ').replace(/  +/g, ' ').trim();\n\nlet botMsg = fullResponse;\nlet datosExtraidos = {\n  nombre: \"\", ciudad: \"\", motivo_consulta: \"\", temperatura: \"\", resumen: \"\", dia_cita: \"\", hora_cita: \"\"\n};\n\nif (fullResponse.includes('|||DATOS|||')) {\n  const partes = fullResponse.split('|||DATOS|||');\n  botMsg = partes[0].trim();\n  \n  try {\n    const jsonStr = partes[1].trim();\n    const datos = JSON.parse(jsonStr);\n    datosExtraidos.nombre = datos.nombre || \"\";\n    datosExtraidos.ciudad = datos.ciudad || \"\";\n    datosExtraidos.motivo_consulta = datos.motivo_consulta || \"\";\n    datosExtraidos.temperatura = datos.temperatura || \"\";\n    datosExtraidos.resumen = datos.resumen || \"\";\n    datosExtraidos.dia_cita = datos.dia_cita || \"\";\n    datosExtraidos.hora_cita = datos.hora_cita || \"\";\n  } catch (e) {\n    try {\n      const textoJson = partes[1].trim();\n      if (textoJson.match(/\"dia_cita\"\\s*:\\s*\"([^\"]*)\"/)) datosExtraidos.dia_cita = textoJson.match(/\"dia_cita\"\\s*:\\s*\"([^\"]*)\"/)[1];\n      if (textoJson.match(/\"hora_cita\"\\s*:\\s*\"([^\"]*)\"/)) datosExtraidos.hora_cita = textoJson.match(/\"hora_cita\"\\s*:\\s*\"([^\"]*)\"/)[1];\n    } catch (e2) {}\n  }\n}\n\nconst prevData = $node[\"Refrescar Datos de Supabase\"].json || {};\nconst nombre_final = datosExtraidos.nombre || prevData.Nombre || \"\";\nconst ciudad_final = datosExtraidos.ciudad || prevData.Ciudad || \"\";\nconst motivo_final = datosExtraidos.motivo_consulta || prevData.Motivo_Consulta || \"\";\nconst temp_final = datosExtraidos.temperatura || prevData.Temperatura || \"\";\nconst resumen_final = datosExtraidos.resumen || prevData.Resumen || \"\";\nconst dia_final = datosExtraidos.dia_cita || prevData.Dia_Cita || \"\";\nconst hora_final = datosExtraidos.hora_cita || prevData.Hora_Cita || \"\";\n\nhistory.push({ role: \"assistant\", content: botMsg });\nif (history.length > 20) history = history.slice(history.length - 20);\n\nlet random_delay = Math.floor(Math.random() * (8000 - 3000 + 1)) + 3000;\n\nreturn {\n  final_history: history,\n  bot_reply: botMsg,\n  delay: random_delay,\n  nombre: nombre_final,\n  ciudad: ciudad_final,\n  motivo_consulta: motivo_final,\n  temperatura: temp_final,\n  resumen: resumen_final,\n  dia_cita: dia_final,\n  hora_cita: hora_final\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        -50
      ],
      "id": "d07a3816-6e27-4ffc-834d-b23063040d88",
      "name": "Formatear Respuesta"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1fUhIYYlhs4jAm6IxzRrDhlCAWVnICyLp5odm0VnRwro/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefono": "={{ $node['Recibir WhatsApp'].json.body.data.key.remoteJid }}",
            "Nombre": "={{ $json.nombre }}",
            "Ciudad": "={{ $json.ciudad }}",
            "Motivo_Consulta": "={{ $json.motivo_consulta }}",
            "Temperatura": "={{ $json.temperatura }}",
            "Ultima_Interaccion": "={{ $now }}",
            "Resumen": "=\t{{ $json.resumen }}",
            "Dia_Cita": "={{ $json.dia_cita }}",
            "Hora_Cita": "={{ $json.hora_cita }}"
          },
          "matchingColumns": [
            "Telefono"
          ],
          "schema": [
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Motivo_Consulta",
              "displayName": "Motivo_Consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Temperatura",
              "displayName": "Temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Interaccion",
              "displayName": "Ultima_Interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resumen",
              "displayName": "Resumen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dia_Cita",
              "displayName": "Dia_Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora_Cita",
              "displayName": "Hora_Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1850,
        -100
      ],
      "id": "396bde58-1e1e-43df-84a1-f6d49020956c",
      "name": "Respaldar en Google Sheets",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ICBlcz55sFQrShP5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $node[\"Recibir WhatsApp\"].json.body.data.key.remoteJid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_history",
              "fieldValue": "={{ $json.final_history }}"
            },
            {
              "fieldId": "Nombre",
              "fieldValue": "={{ $json.nombre }}"
            },
            {
              "fieldId": "Ciudad",
              "fieldValue": "={{ $json.ciudad }}"
            },
            {
              "fieldId": "Motivo_Consulta",
              "fieldValue": "={{ $json.motivo_consulta }}"
            },
            {
              "fieldId": "Temperatura",
              "fieldValue": "={{ $json.temperatura }}"
            },
            {
              "fieldId": "Resumen",
              "fieldValue": "={{ $json.resumen }}"
            },
            {
              "fieldId": "Dia_Cita",
              "fieldValue": "={{ $json.dia_cita }}"
            },
            {
              "fieldId": "Hora_Cita",
              "fieldValue": "={{ $json.hora_cita }}"
            },
            {
              "fieldId": "Ultima_Interaccion",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "bot_is_typing",
              "fieldValue": "={{ false }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1850,
        100
      ],
      "id": "ac4be3cb-2e89-4f06-baad-4ff9fac8fa83",
      "name": "Guardar Resumen en Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo-n8esaf5dqdgod8b4y95f85t8.167.86.70.193.sslip.io/message/sendText/BotRedes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "D29061824F7D-48B0-B455-9A9C7F4BDD20"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node['Recibir WhatsApp'].json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}"
            },
            {
              "name": "text",
              "value": "={{ $('Formatear Respuesta').item.json.bot_reply }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2050,
        300
      ],
      "id": "192892b5-0bf8-414d-9ffd-0df217063b23",
      "name": "Enviar Mensaje de WhatsApp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "conv-abierta",
              "leftValue": "={{ $json.Conversacion_Abierta }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "bot-active",
              "leftValue": "={{ $('Obtener_Configuracion').first().json.is_active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "bot-typing",
              "leftValue": "={{ $json.bot_is_typing || false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -256
      ],
      "id": "0619608d-ba55-490c-beab-d05702aaf48f",
      "name": "¿El Bot está Autorizado?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "bot_config",
        "limit": 1
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        144
      ],
      "id": "c8190351-e9fd-4198-b622-2633015f441a",
      "name": "Obtener_Configuracion",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f49ea0f3-6f64-4b1a-bb62-2201ceca022e",
              "leftValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        -32
      ],
      "id": "81ef3aac-64b6-40b3-8382-a0f09dc328c8",
      "name": "¿Lo envió el paciente?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Conversacion_Abierta",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -368,
        208
      ],
      "id": "47372f2f-435c-4aa9-8094-fb95469e25bb",
      "name": "Apagar Bot (Silenciador) ",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "bot_is_typing",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        850,
        -250
      ],
      "id": "mutex-lock",
      "name": "Bloquear Bot (Mutex)",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "limit": 100,
        "filters": {
          "conditions": [
            {
              "keyName": "Dia_Cita",
              "condition": "neq",
              "keyValue": ""
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1050,
        -250
      ],
      "id": "check-agenda",
      "name": "Consultar Agenda Global",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let occupied = [];\nconst todayStr = new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/Caracas\"})).toISOString().split('T')[0];\nfor (const lead of $input.all()) {\n  const date = lead.json.Dia_Cita;\n  const time = lead.json.Hora_Cita || 'Hora no especificada';\n  if (date && date >= todayStr && date !== '') {\n    occupied.push(`- ${date} a las ${time}`);\n  }\n}\nlet txt = occupied.length > 0 ? occupied.join('\\n') : 'Agenda libre';\nreturn { agenda_ocupada: txt };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        -250
      ],
      "id": "format-agenda",
      "name": "Formatear Agenda"
    }
  ],
  "pinData": {},
  "connections": {
    "Recibir WhatsApp": {
      "main": [
        [
          {
            "node": "Obtener_Configuracion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es mensaje válido?": {
      "main": [
        [
          {
            "node": "¿Lo envió el paciente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Paciente (Supabase)": {
      "main": [
        [
          {
            "node": "¿El Paciente Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿El Paciente Existe?": {
      "main": [
        [
          {
            "node": "Crear Nuevo Paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizar Última Interacción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Nuevo Paciente": {
      "main": [
        [
          {
            "node": "Pausa Anti-Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Última Interacción": {
      "main": [
        [
          {
            "node": "Pausa Anti-Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausa Anti-Spam": {
      "main": [
        [
          {
            "node": "Refrescar Datos de Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refrescar Datos de Supabase": {
      "main": [
        [
          {
            "node": "¿El Bot está Autorizado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mostrar \"Escribiendo...\"": {
      "main": [
        [
          {
            "node": "Cerebro Inteligencia Artificial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerebro Inteligencia Artificial": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Guardar Resumen en Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respaldar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respaldar en Google Sheets": {
      "main": [
        []
      ]
    },
    "Guardar Resumen en Supabase": {
      "main": [
        [
          {
            "node": "Enviar Mensaje de WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje de WhatsApp": {
      "main": [
        []
      ]
    },
    "Obtener_Configuracion": {
      "main": [
        [
          {
            "node": "¿Es mensaje válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Lo envió el paciente?": {
      "main": [
        [
          {
            "node": "Buscar Paciente (Supabase)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apagar Bot (Silenciador) ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿El Bot está Autorizado?": {
      "main": [
        [
          {
            "node": "Bloquear Bot (Mutex)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloquear Bot (Mutex)": {
      "main": [
        [
          {
            "node": "Consultar Agenda Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Agenda Global": {
      "main": [
        [
          {
            "node": "Formatear Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Agenda": {
      "main": [
        [
          {
            "node": "Mostrar \"Escribiendo...\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Caracas",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6d77f554-6022-46b4-89c6-f43256f562dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3eee2c5f8edefa6ced8d845098f5317aa081eb5e3b1a63d9120e26a5b465907e"
  },
  "id": "uu6RTMyVq3Sf4Yto",
  "tags": []
}