original.json
{
  "name": "botredesv4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        176
      ],
      "id": "f1cd12ff-84a4-42bf-be0b-3438797d987e",
      "name": "Recibir WhatsApp",
      "webhookId": "4c22eedb-742d-4503-9198-2e0171a6009b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "253fb834-20c8-4eae-9b54-830b50760f99",
              "leftValue": "={{ $('Recibir WhatsApp').item.json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "5dd856d9-ce68-4102-a282-e56a97839136",
              "leftValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "4901ac0f-1be0-42b8-858f-aeafce11bb24",
              "leftValue": "={{ ['conversation', 'extendedTextMessage'].includes($('Recibir WhatsApp').item.json.body.data.messageType) }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        48
      ],
      "id": "5afd2eef-fcb9-4b8a-8598-ec2cb29dbfe8",
      "name": "¿Es mensaje válido?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -288,
        -96
      ],
      "id": "3556de69-2908-4174-8132-57b0da5210f2",
      "name": "Buscar Paciente (Supabase)",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55efd824-dce6-4743-987b-486ceb1e8b9c",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        112
      ],
      "id": "30702cee-78a9-4f47-a32d-3aeac09c1b6f",
      "name": "¿El Paciente Existe?"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_history",
              "fieldValue": "={{ [{ \"role\": \"user\", \"content\": $node[\"Recibir WhatsApp\"].json.body.data.message.conversation || $node[\"Recibir WhatsApp\"].json.body.data.message.extendedTextMessage.text || \"\" }] }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}"
            },
            {
              "fieldId": "Ultima_Interaccion",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "Fuente",
              "fieldValue": "=={{ $node[\"Recibir WhatsApp\"].json.body.data.message?.extendedTextMessage?.contextInfo?.sourceUrl?.includes('instagram') ? 'instagram' : ($node[\"Recibir WhatsApp\"].json.body.data.message?.extendedTextMessage?.contextInfo?.sourceUrl?.includes('facebook') ? 'facebook' : 'organico') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16,
        -112
      ],
      "id": "e0f13f2e-9f01-4d06-b9e1-977f5927d762",
      "name": "Crear Nuevo Paciente",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_history",
              "fieldValue": "={{ (Array.isArray($json.chat_history) ? $json.chat_history : []).concat([{\"role\": \"user\", \"content\": $node[\"Recibir WhatsApp\"].json.body.data.message.conversation || $node[\"Recibir WhatsApp\"].json.body.data.message.extendedTextMessage.text || \"\"}]) }}"
            },
            {
              "fieldId": "Ultima_Interaccion",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "b967fda7-007c-427c-8941-58783b675f0f",
      "name": "Actualizar Última Interacción",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        144,
        48
      ],
      "id": "9d892a74-5919-4fb0-b6ea-234515cc8aa8",
      "name": "Pausa Anti-Spam",
      "webhookId": "4f550cde-0f96-4523-92d8-53fd87e929f4"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        368,
        -16
      ],
      "id": "5034f92f-5642-45f0-b73f-877c6e04d387",
      "name": "Refrescar Datos de Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evo-n8esaf5dqdgod8b4y95f85t8.167.86.70.193.sslip.io/chat/sendPresence/BotRedes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "D29061824F7D-48B0-B455-9A9C7F4BDD20"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $node['Recibir WhatsApp'].json.body.data.key.remoteJid }}\",\n  \"presence\": \"composing\",\n  \"delay\": 12000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "195a55f7-5d67-4bf4-b198-970b99564799",
      "name": "Mostrar \"Escribiendo...\""
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres la asistente del Dr. Ángel Trejo Alvarado, especialista en flebología y problemas circulatorios (várices, úlceras, pie diabético, etc.). Tu nombre es \"la asistente del Dr. Ángel\". Trabajas atendiendo pacientes por WhatsApp.\n\nTu objetivo es atender al paciente con naturalidad, resolver sus dudas, calificar su necesidad y cerrar agendando una cita usando EXACTAMENTE los guiones aprobados.\n\nSi al consultar la base de datos encuentras un registro con la Temperatura 'bloqueo', ese horario no está disponible. Si en la Hora_Cita dice 'TODO EL DIA', ninguna hora de esa fecha está disponible. Si en la Hora_Cita dice 'TODA LA SEMANA', descarta esa semana completa.\n\nESTILO DE ESCRITURA (CRÍTICO - SI ROMPES ESTAS REGLAS EL SISTEMA FALLARÁ):\n- EXTREMADAMENTE CORTO. Responde directo al grano. Solo puedes extenderte un poco más cuando uses los guiones aprobados de información.\n- TONO HUMANO Y NO ROBÓTICO: No suenes como un robot de servicio al cliente excesivamente servicial ni entusiasta (\"Excelente! Te esperamos.\"). NUNCA repitas el nombre de la persona en todos los mensajes (Ej: evitar decir \"Hola Diorena!\" en cada línea).\n- Escribe como una persona REAL en WhatsApp, relajada. A veces inicia tus oraciones en minúscula, como si escribieras rápido desde un celular. Omite comas donde no sean estrictamente necesarias.\n- No uses ambos signos de exclamación (¡ !) en la misma frase. Usa solo el de cierre: \"Hola!\" en vez de \"¡Hola!\".\n- No uses viñetas, listas, negritas, cursivas ni emojis excesivos. Todo texto plano.\n- Nunca uses palabras de IA como: crucial, vital, en resumen, en conclusión, cabe destacar, es importante mencionar.\n- El mensaje para el paciente debe ser continuo. Haz UN SOLO salto de línea obligatorio al final ÚNICAMENTE para separar el bloque de datos JSON. (NUNCA uses \\n o \\t visibles en el texto).\n- Para simular un tono humano y casual de WhatsApp: Ocasionalmente (no siempre) omite tildes en palabras muy comunes (como \"esta\", \"asi\", \"que\"). Además, en lugar de usar tres puntos suspensivos (...), usa solo dos (..) de vez en cuando. No exageres con esto, mantenlo sutil.\n\nMETODOLOGÍA Y GUIONES OBLIGATORIOS (\"Responde, Califica y Cierra\"):\nDebes usar estos textos de forma TEXTUAL según la etapa de la conversación, aplicando las excepciones según sea el caso:\n\n1. SALUDO INICIAL (Cuando el paciente escribe por primera vez o pide información):\n\"Hola! Un gusto saludarte. Soy la asistente del Dr. Angel. Para brindarte la información exacta, ¿podrías decirme desde qué ciudad nos escribes y cuál es el motivo de tu consulta?\"\nEXCEPCIÓN CRÍTICA 1: Si el paciente ya indica su ciudad y su problema en su primer mensaje (Ej: \"Soy de Cagua y quiero tratarme unas várices\"), NO uses este guion. Pasa directamente al Paso 2.\nEXCEPCIÓN CRÍTICA 2: Si el paciente escribe para CANCELAR o REAGENDAR una cita existente, NO uses este guion. Dile: \"Entiendo perfectamente, no te preocupes. Avisaré al doctor. ¿Te gustaría que busquemos otra fecha para reagendar?\". (Anota \"CANCELACIÓN/REAGENDAMIENTO\" en el JSON).\n\n2. DAR PRECIO Y UBICACIÓN (Solo cuando sepas de dónde escribe y su motivo):\nREGLA DE LA PAUSA: NUNCA mandes precios ni horarios de manera anticipada si no sabes aún la ciudad y el motivo.\nBIFURCACIÓN DE GUIONES:\n- Opción A (Paciente en Maracay o alrededores): \"Excelente. El Dr. Angel atiende en el Centro Empresarial Uniaragua, Piso 3, Oficina 302. La consulta tiene un valor de $100 (a tasa BCV) e incluye el Eco Doppler Venoso para un diagnóstico completo.\" *(Si preguntó específicamente por esclerosis/arañitas, añade: \"La sesión de esclerosis tiene un valor de $120\").*\n- Opción B (Paciente de cualquier otra ciudad fuera de Maracay): \"Excelente. Como te encuentras fuera de Maracay, el Dr. Angel ofrece una Asesoría Médica Online que tiene un valor de $50 (a tasa BCV) donde evalúa tu caso detalladamente. (Si el paciente expresa explícitamente que está dispuesto a viajar a Maracay, ofrécele los precios y ubicación de la Opción A).\"\n\n3. OFRECER HORARIOS (Inmediatamente después de dar el precio):\nREGLA DE ORO PARA DAR TURNOS: NUNCA recites todo el horario de la clínica al paciente (Ej: NO digas \"de miércoles a viernes entre 8 y 12\"). Ofrece ÚNICAMENTE DOS (2) turnos cerrados y específicos para forzar una decisión. Inventa las horas y días, pero asegúrate de que estén dentro del horario de atención real (Miércoles, Jueves o Viernes de 8am a 12pm).\nUsa un formato como este:\n\"Para tu consulta, el Dr. Angel tiene disponibilidad por ejemplo el [Día] a las [Hora 1] o el [Día] a las [Hora 2]. ¿Cuál de estas dos opciones te queda mejor?\"\n\n4. BUSCAR OTRA OPCIÓN (Si el paciente dice que no puede en esos horarios):\n\"Entiendo perfectamente. Para buscar otra opción que le sea cómoda, ¿qué día y en qué horario se le hace más fácil a usted? Así verifico si el Dr. Angel puede abrir un espacio en su agenda.\"\n\n5. SEGUIMIENTO (Si el paciente dejó de responder o está indeciso):\n\"Hola, sigo por aquí. El Dr. Angel me preguntó si pudiste revisar los horarios, ya que los cupos para esta semana se están agotando. ¿Te reservo alguno?\" \nO si es para retomar conversación: \"Hola [Nombre]! La consulta tiene un valor de $100 a tasa BCV e incluye el Eco Doppler Venoso. Quieres que te agende el [Día] a las [Hora]?\"\n\n6. CONFIRMACIÓN FINAL (Una vez elegido el horario y un SOLO DÍA definitivo):\n\"CONFIRMACIÓN FINAL\nPerfecto! Quedas agendado/a para el día [Día] a las [Hora]. ¿A nombre de quién dejo la cita?\"\nEXCEPCIÓN: Si el paciente ya te dijo su nombre anteriormente, NO preguntes a nombre de quién queda. Di: \"Perfecto [Nombre]! Quedas agendado/a para el día [Día] a las [Hora].\"\n\nPACIENTES YA AGENDADOS: Si un paciente escribe para confirmar que tiene una cita hoy o en próximos días, o avisa que ya llegó a la clínica, NO LO ATIENDAS como si fuera a agendar una cita nueva. Tu único objetivo es captar nuevos. Responde amablemente y corta la conversación: \"Hola! He notado que ya tienes una cita con nosotros. En un momento la secretaria te atenderá personalmente para confirmar todo. Un saludo!\".\n\nSI EL PACIENTE INSISTE: Si después de darle ese mensaje el paciente sigue haciendo preguntas o enviando más mensajes, mantén tu postura de cortar la conversación. No le des información médica, ni precios, ni intentes agendarlo de nuevo. Limítate a responder variaciones de: \"Por favor, aguarda un momento, la secretaria en la clínica ya está leyendo tus mensajes y te responderá en breve\".\n\nMANEJO DE PACIENTES ANTIGUOS:\n- Por defecto, asume que son pacientes nuevos.\n- SIN EMBARGO, si mencionan que ya han hablado con el doctor, que ya fueron a consulta o se operaron:\n1. Cambia tu trato inmediatamente a uno más cercano reconociendo que es paciente de la casa.\n2. Indaga sutilmente (\"Ah claro! recuérdame, ¿de qué trató tu consulta anterior?\").\n3. OBLIGATORIO: Toda información sobre su pasado médico DEBES incluirla en el campo \"resumen\" del JSON. \n\nBASE DE CONOCIMIENTO (no inventes nada fuera de esto):\n- Ubicación: Maracay, Centro Empresarial Uniaragua, Piso 3, Oficina 302 (Av. Mariño Sur, San Miguel).\n- Consulta presencial: $100 a tasa BCV. Incluye Eco Doppler Venoso.\n- Asesoría online: $50 a tasa BCV. Solo para pacientes fuera de Maracay.\n- Sesión de esclerosis (arañitas): $120.\n- Días de consulta: Miércoles, Jueves y Viernes de 8:00 am a 12:00 pm. (Aceptamos casos los sábados previa evaluación).\n- No se necesitan exámenes de laboratorio previos, el doctor hace todo en consulta.\n\nEXTRACCIÓN DE DATOS (MUY IMPORTANTE): \nFECHA ACTUAL DEL SISTEMA: {{ $now.setZone('America/Caracas').format('cccc, yyyy-MM-dd') }} (USA ESTA FECHA COMO REFERENCIA EXACTA PARA TUS CÁLCULOS).\n\nAl final de CADA respuesta, haz UN SALTO DE LÍNEA y agrega el marcador |||DATOS||| seguido del bloque JSON. \nREGLA CRÍTICA DE FORMATO: Escribe el JSON en texto plano absoluto. NUNCA uses bloques de código markdown (como ```json). El bloque debe empezar con { y terminar con }.\n\nFormato:\n|||DATOS|||\n{\"nombre\": \"\", \"ciudad\": \"\", \"motivo_consulta\": \"\", \"temperatura\": \"frio/tibio/caliente\", \"resumen\": \"\", \"dia_cita\": \"YYYY-MM-DD\", \"hora_cita\": \"\"}\n\nCRÍTICO PARA \"dia_cita\":\n- DEBE SER EN FORMATO ISO: YYYY-MM-DD. (Por ejemplo, si hoy es martes 2026-07-14, y agendan para el jueves, debes calcular y poner \"2026-07-16\"). \n- NUNCA pongas solo el día de la semana en texto.\n- REGLA DE INCERTIDUMBRE: Si el paciente menciona varios días pero aún no se decide por UNO SOLO (Ej: \"me sirve el jueves o el viernes\"), o si simplemente no sabes la fecha exacta, DEBES dejar el campo vacío \"\". Solo llena el campo cuando sea un solo día definitivo.\n\nEJEMPLO PERFECTO DE CONVERSACIÓN:\n\nPaciente: Hola buenas tardes, soy de Colombia, quiero información\nAsistente: Hola! Un gusto saludarte. Soy la asistente del Dr. Angel. Como te encuentras fuera de Maracay, el Dr. Angel ofrece una Asesoría Médica Online que tiene un valor de $50 (a tasa BCV) donde evalúa tu caso detalladamente. Cuéntame, ¿qué presentas?\n|||DATOS|||\n{\"nombre\": \"\", \"ciudad\": \"Colombia\", \"motivo_consulta\": \"\", \"temperatura\": \"tibio\", \"resumen\": \"paciente foráneo, se ofreció asesoría online y se preguntó motivo\", \"dia_cita\": \"\", \"hora_cita\": \"\"}\n\nPaciente: Tengo unas várices. Quisiera agendar para la próxima semana, puede ser miércoles o jueves.\nAsistente: Entiendo. Para tu asesoría, el Dr. Angel tiene disponibilidad por ejemplo el miércoles a las 9:00 am o el jueves a las 10:30 am. ¿Cuál de estas dos opciones te queda mejor?\n|||DATOS|||\n{\"nombre\": \"\", \"ciudad\": \"Colombia\", \"motivo_consulta\": \"várices\", \"temperatura\": \"caliente\", \"resumen\": \"paciente quiere agendar la próxima semana, se ofrecieron dos turnos\", \"dia_cita\": \"\", \"hora_cita\": \"\"}\n\nHISTORIAL DE LA CONVERSACIÓN ACTUAL:\n\n{{ JSON.stringify($node[\"Refrescar Datos de Supabase\"].json.chat_history) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1008,
        128
      ],
      "id": "5a8c14fa-aa9f-44b8-886b-91c0f5663d34",
      "name": "Cerebro Inteligencia Artificial",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "RbtGkF3BwVhe1MFw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Busca texto recursivamente en cualquier estructura JSON\nfunction findText(obj, depth) {\n  if (depth > 5) return \"\";\n  if (typeof obj === 'string' && obj.length > 20) return obj;\n  if (Array.isArray(obj)) {\n    for (const item of obj) {\n      const found = findText(item, depth + 1);\n      if (found) return found;\n    }\n  }\n  if (typeof obj === 'object' && obj !== null) {\n    for (const val of Object.values(obj)) {\n      const found = findText(val, depth + 1);\n      if (found) return found;\n    }\n  }\n  return \"\";\n}\n\nlet history = $node[\"Refrescar Datos de Supabase\"].json.chat_history || [];\nlet fullResponse = findText($json, 0);\n\nif (!fullResponse) {\n  fullResponse = \"Hola! en qué te puedo ayudar?\";\n}\n\nfullResponse = fullResponse.replace(/\\\\n/g, ' ').replace(/\\n/g, ' ').replace(/  +/g, ' ').trim();\n\nlet botMsg = fullResponse;\nlet datosExtraidos = {\n  nombre: \"\", ciudad: \"\", motivo_consulta: \"\", temperatura: \"\", resumen: \"\", dia_cita: \"\", hora_cita: \"\"\n};\n\nif (fullResponse.includes('|||DATOS|||')) {\n  const partes = fullResponse.split('|||DATOS|||');\n  botMsg = partes[0].trim();\n  \n  try {\n    const jsonStr = partes[1].trim();\n    const datos = JSON.parse(jsonStr);\n    datosExtraidos.nombre = datos.nombre || \"\";\n    datosExtraidos.ciudad = datos.ciudad || \"\";\n    datosExtraidos.motivo_consulta = datos.motivo_consulta || \"\";\n    datosExtraidos.temperatura = datos.temperatura || \"\";\n    datosExtraidos.resumen = datos.resumen || \"\";\n    datosExtraidos.dia_cita = datos.dia_cita || \"\";\n    datosExtraidos.hora_cita = datos.hora_cita || \"\";\n  } catch (e) {\n    try {\n      const textoJson = partes[1].trim();\n      if (textoJson.match(/\"dia_cita\"\\s*:\\s*\"([^\"]*)\"/)) datosExtraidos.dia_cita = textoJson.match(/\"dia_cita\"\\s*:\\s*\"([^\"]*)\"/)[1];\n      if (textoJson.match(/\"hora_cita\"\\s*:\\s*\"([^\"]*)\"/)) datosExtraidos.hora_cita = textoJson.match(/\"hora_cita\"\\s*:\\s*\"([^\"]*)\"/)[1];\n    } catch (e2) {}\n  }\n}\n\nconst prevData = $node[\"Refrescar Datos de Supabase\"].json || {};\nconst nombre_final = datosExtraidos.nombre || prevData.Nombre || \"\";\nconst ciudad_final = datosExtraidos.ciudad || prevData.Ciudad || \"\";\nconst motivo_final = datosExtraidos.motivo_consulta || prevData.Motivo_Consulta || \"\";\nconst temp_final = datosExtraidos.temperatura || prevData.Temperatura || \"\";\nconst resumen_final = datosExtraidos.resumen || prevData.Resumen || \"\";\nconst dia_final = datosExtraidos.dia_cita || prevData.Dia_Cita || \"\";\nconst hora_final = datosExtraidos.hora_cita || prevData.Hora_Cita || \"\";\n\nhistory.push({ role: \"assistant\", content: botMsg });\nif (history.length > 20) history = history.slice(history.length - 20);\n\nlet random_delay = Math.floor(Math.random() * (8000 - 3000 + 1)) + 3000;\n\nreturn {\n  final_history: history,\n  bot_reply: botMsg,\n  delay: random_delay,\n  nombre: nombre_final,\n  ciudad: ciudad_final,\n  motivo_consulta: motivo_final,\n  temperatura: temp_final,\n  resumen: resumen_final,\n  dia_cita: dia_final,\n  hora_cita: hora_final\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -96
      ],
      "id": "d07a3816-6e27-4ffc-834d-b23063040d88",
      "name": "Formatear Respuesta"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1fUhIYYlhs4jAm6IxzRrDhlCAWVnICyLp5odm0VnRwro/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefono": "={{ $node['Recibir WhatsApp'].json.body.data.key.remoteJid }}",
            "Nombre": "={{ $json.nombre }}",
            "Ciudad": "={{ $json.ciudad }}",
            "Motivo_Consulta": "={{ $json.motivo_consulta }}",
            "Temperatura": "={{ $json.temperatura }}",
            "Ultima_Interaccion": "={{ $now }}",
            "Resumen": "=\t{{ $json.resumen }}",
            "Dia_Cita": "={{ $json.dia_cita }}",
            "Hora_Cita": "={{ $json.hora_cita }}"
          },
          "matchingColumns": [
            "Telefono"
          ],
          "schema": [
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Motivo_Consulta",
              "displayName": "Motivo_Consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Temperatura",
              "displayName": "Temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Interaccion",
              "displayName": "Ultima_Interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resumen",
              "displayName": "Resumen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dia_Cita",
              "displayName": "Dia_Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora_Cita",
              "displayName": "Hora_Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        -192
      ],
      "id": "396bde58-1e1e-43df-84a1-f6d49020956c",
      "name": "Respaldar en Google Sheets",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ICBlcz55sFQrShP5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $node[\"Recibir WhatsApp\"].json.body.data.key.remoteJid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_history",
              "fieldValue": "={{ $json.final_history }}"
            },
            {
              "fieldId": "Nombre",
              "fieldValue": "={{ $json.nombre }}"
            },
            {
              "fieldId": "Ciudad",
              "fieldValue": "={{ $json.ciudad }}"
            },
            {
              "fieldId": "Motivo_Consulta",
              "fieldValue": "={{ $json.motivo_consulta }}"
            },
            {
              "fieldId": "Temperatura",
              "fieldValue": "={{ $json.temperatura }}"
            },
            {
              "fieldId": "Resumen",
              "fieldValue": "={{ $json.resumen }}"
            },
            {
              "fieldId": "Dia_Cita",
              "fieldValue": "={{ $json.dia_cita }}"
            },
            {
              "fieldId": "Hora_Cita",
              "fieldValue": "={{ $json.hora_cita }}"
            },
            {
              "fieldId": "Ultima_Interaccion",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1392,
        64
      ],
      "id": "ac4be3cb-2e89-4f06-baad-4ff9fac8fa83",
      "name": "Guardar Resumen en Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evo-n8esaf5dqdgod8b4y95f85t8.167.86.70.193.sslip.io/message/sendText/BotRedes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "D29061824F7D-48B0-B455-9A9C7F4BDD20"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node['Recibir WhatsApp'].json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}"
            },
            {
              "name": "text",
              "value": "={{ $('Formatear Respuesta').item.json.bot_reply }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1440,
        320
      ],
      "id": "192892b5-0bf8-414d-9ffd-0df217063b23",
      "name": "Enviar Mensaje de WhatsApp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c471892a-048b-4618-9266-99f16097436e",
              "leftValue": "={{ Array.isArray($json.chat_history) ? $json.chat_history.length : 0 }}",
              "rightValue": "={{ Array.isArray($('Buscar Paciente (Supabase)').item.json.chat_history) ? $('Buscar Paciente (Supabase)').item.json.chat_history.length + 1 : 1 }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "31c66210-7884-4a88-89fe-21d10967f073",
              "leftValue": "={{ $json.Conversacion_Abierta }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "30417a9f-9ae9-4786-a2e3-fb6e77929e9b",
              "leftValue": "={{ $('Obtener_Configuracion').first().json.is_active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -256
      ],
      "id": "0619608d-ba55-490c-beab-d05702aaf48f",
      "name": "¿El Bot está Autorizado?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "bot_config",
        "limit": 1
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        144
      ],
      "id": "c8190351-e9fd-4198-b622-2633015f441a",
      "name": "Obtener_Configuracion",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f49ea0f3-6f64-4b1a-bb62-2201ceca022e",
              "leftValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        -32
      ],
      "id": "81ef3aac-64b6-40b3-8382-a0f09dc328c8",
      "name": "¿Lo envió el paciente?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Recibir WhatsApp').item.json.body.data.key.remoteJid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Conversacion_Abierta",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -368,
        208
      ],
      "id": "47372f2f-435c-4aa9-8094-fb95469e25bb",
      "name": "Apagar Bot (Silenciador) ",
      "credentials": {
        "supabaseApi": {
          "id": "gidwrNK4lcuu0fQR",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Recibir WhatsApp": {
      "main": [
        [
          {
            "node": "Obtener_Configuracion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es mensaje válido?": {
      "main": [
        [
          {
            "node": "¿Lo envió el paciente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Paciente (Supabase)": {
      "main": [
        [
          {
            "node": "¿El Paciente Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿El Paciente Existe?": {
      "main": [
        [
          {
            "node": "Crear Nuevo Paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizar Última Interacción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Nuevo Paciente": {
      "main": [
        [
          {
            "node": "Pausa Anti-Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Última Interacción": {
      "main": [
        [
          {
            "node": "Pausa Anti-Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausa Anti-Spam": {
      "main": [
        [
          {
            "node": "Refrescar Datos de Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refrescar Datos de Supabase": {
      "main": [
        [
          {
            "node": "¿El Bot está Autorizado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mostrar \"Escribiendo...\"": {
      "main": [
        [
          {
            "node": "Cerebro Inteligencia Artificial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerebro Inteligencia Artificial": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Guardar Resumen en Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respaldar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respaldar en Google Sheets": {
      "main": [
        []
      ]
    },
    "Guardar Resumen en Supabase": {
      "main": [
        [
          {
            "node": "Enviar Mensaje de WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje de WhatsApp": {
      "main": [
        []
      ]
    },
    "¿El Bot está Autorizado?": {
      "main": [
        [
          {
            "node": "Mostrar \"Escribiendo...\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener_Configuracion": {
      "main": [
        [
          {
            "node": "¿Es mensaje válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Lo envió el paciente?": {
      "main": [
        [
          {
            "node": "Buscar Paciente (Supabase)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apagar Bot (Silenciador) ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Caracas",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6d77f554-6022-46b4-89c6-f43256f562dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3eee2c5f8edefa6ced8d845098f5317aa081eb5e3b1a63d9120e26a5b465907e"
  },
  "id": "uu6RTMyVq3Sf4Yto",
  "tags": []
}